html {
  box-sizing: border-box;
}
body {
  background-image: url(Images/Sprinkle.svg);
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
input,
fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  font-size: 1rem;
  font-family: inherit;
}
.no-touchevents .btn.btn--secondary:hover {
  -webkit-transform: none;
  transform: none;
}
input[type="radio"] {
  position: fixed;
  left: -100px;
}
[id="sign-in"]:checked ~ input.sign-in,
[id="sign-up"]:checked ~ input.sign-up,
[id="reset"]:checked ~ input.reset {
  max-height: 40px;
  padding: 10px;
  margin: 10px 0;
  opacity: 1;
}
[id="sign-in"]:checked ~ button:before {
  content: "Iniciar sesión";
}
[id="sign-up"]:checked ~ button:before {
  content: "Resgistrarse";
}
[id="reset"]:checked ~ button:before {
  content: "Recuperar contraseña";
}

input:not([type="radio"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  display: block;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  border-radius: 7px;
  border: 0;
  max-height: 0;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  width: 320px;
  opacity: 0;
  font-size: 16px;
  text-align: center;
  outline: 0;
}

.no-touchevents .btn.btn--main-cta:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
label:after {
  content: "";
  border: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  -webkit-transition: inherit;
  transition: inhertt;
}

[id="sign-in"]:checked ~ [for="sign-in"]:after,
[id="sign-up"]:checked ~ [for="sign-up"]:after,
[id="reset"]:checked ~ [for="reset"]:after {
  border-bottom-color: #fff;
}

.flex-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  height: 33rem;
  text-align: center;
}

button {
  width: 320px;
  height: 40px;
  margin-left: -6px;
  border-radius: 7px;
  background-color: cornflowerblue;
  font-size: 0;
  color: white;
  font-weight: 700;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button:before {
  font-size: 16px;
}
label {
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  width: calc(100% / 3 - 4px);
}
