@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #060606;
}
.tabla {
  margin-top: 33rem;
  padding-bottom: 1cm;
  width: min(100%, 75rem);
  overflow: hidden;
  margin-inline: auto;
  padding-inline: clamp(1rem, 5vw, 4rem);
  list-style: none;
  perspective: 1500px;
  display: grid;
  row-gap: 0.5rem;
}
.tabla li.card {
  position: relative;
  padding-block: 1.5rem;
  padding-inline: 2rem;
  background-color: var(--bg-color);
  background-image: linear-gradient(to right, rgb(0 0 0 / 0.15), transparent);
  transform-style: preserve-3d;
  color: var(--color);

  display: grid;
  grid-template: "icon" "title" "content";
  row-gap: 0.5rem;
  column-gap: 2rem;
}
.tabla li.card::before,
.tabla li.card::after {
  --side-rotate: 60deg;
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform-origin: calc(50% - (50% * var(--ry))) 50%;
  transform: rotateY(calc(var(--side-rotate) * var(--ry)));
  background-color: inherit;
  background-image: linear-gradient(
    calc(90deg * var(--ry)),
    rgb(0 0 0 / 0.25),
    rgb(0 0 0 / 0.5)
  );
}
.tabla li.card::before {
  --ry: -1;
  right: 100%;
}
.tabla li.card::after {
  --ry: 1;
  left: 100%;
}

.tabla li.card .icon {
  grid-area: icon;
  display: grid;
  place-items: center;
}
.tabla li.card .icon i {
  font-size: 2rem;
}
.tabla li.card .title {
  grid-area: title;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.tabla li.card .content {
  grid-area: content;
}

.fa-solid {
  max-width: 50px;
  max-height: 50px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #ffffe0;
  padding: 15px;
  margin-bottom: 12px;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}
.pregunta {
  margin-right: 50px;
}
.list {
  list-style: none;
  display: flex;
  gap: 25px;
}
@media (min-width: 30rem) {
  .tabla li.card {
    grid-template: "icon title" "icon content";
    text-align: left;
  }
  .tabla li.card .title {
    text-align: left;
  }
}
